
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center card-h cartt">Your Cart</h1>
<div class="container">
{% for item in cart_items.all %}
<div class="card text-center mx-3 my-3" style="width: 18rem;display:inline-block">
    <img src="{{ item.product.pro_image.url }}" class="card-img-top" width="100" height="300" alt="...">
    <div class="card-body">
      <p class="card-text">Rs.{{item.product.pro_price}}/-</p>
      <p class="card-text">Quantity: {{ item.quantity }} </p>
      
    </div>
</div> 
{% endfor %}
<p class="total">Total Price: ${{ total_price }}</p>
{% comment %} <ul>
    {% for item in cart_items %}
        <li>{{ item.product.pro_name }} - Quantity: {{ item.quantity }} - Price: ${{ item.product.price }}</li>
    {% endfor %}
</ul>
<p>Total Price: ${{ total_price }}</p> {% endcomment %}

<a class="nav-link " href="{% url 'home' %}">Back to Home</a>

<br><br><br><br><br><br><br><br>

</div>
{% endblock %}